@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.checkList{
  text-decoration: line-through;
}

.notCheckList{
  text-decoration: none;
}